<div class="d-grid">
<form class="row">

    <div class="col-3">
        <div id="substateDropdown" class="dropdown">
            <button id="substateDropBtn" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Substatus
                    <span class="substateDropTxt"></span>
            </button>
            <ul id="substateDropMenu" class="dropdown-menu">
                <li><a id="leiden" class="dropdown-item" href="#">Leiden</a></li>
                <li><a id="hague" class="dropdown-item" href="#">Den Haag</a></li>
                <li><a id="zmeer" class="dropdown-item" href="#">Zoetermeer</a></li>
                <li><a id="rdam" class="dropdown-item" href="#">Rotterdam</a></li>
                <li><a id="rdam-z" class="dropdown-item" href="#">Rotterdam-Zuid</a></li>
                <li><a id="afhaal" class="dropdown-item" href="#">Afhaalorder</a></li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div id="statusDropdown" class="dropdown">
            <button id="statusDropBtn" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Orderstatus
                    <span class="statusDropTxt"></span>
            </button>
            <ul id="statusDropMenu" class="dropdown-menu">
                <li><a id="processing" class="dropdown-item" href="#">In behandeling</a></li>
                <li><a id="ingepakt" class="dropdown-item" href="#">Ingepakt</a></li>
                <li><a id="completed" class="dropdown-item" href="#">Afgerond</a></li>
            </ul>
        </div>
    </div>
    
    <div class="col-3">
            <input type="text" placeholder="Leverdatum" class="form-control" id="datepicker"/>
    </div>

</form>





</div>