<script src="/js/scan_order.js"></script>
<script src="/js/shared.js"></script>
<div class="container">
    <div class="well">
        <div style="width: inherit;" id="qrScanner"></div>
        <br />
        <form class="form-getorder">
            <input type="text" id="input_orderid" class="form-control" placeholder="Order ID" required autofocus>
            <br />
            <div class="d-grid gap-2 col-8 mx-auto">
                <input type="submit" class="btn btn-primary" value="Order ophalen">
            </div>
        </form>
    </div>
</div>