<script src="/js/scan_product.js"></script>
<script src="/js/shared.js"></script>
<div class="container">
    <div class="well">
        <div style="width: inherit;" id="barcodeScanner"></div>
        <br />
        <form class="form-getproduct">
            <input type="text" id="input_productsku" class="form-control" placeholder="Product SKU" required autofocus>
            <br />
            <div class="d-grid gap-2 col-8 mx-auto">
                <input type="submit" class="btn btn-primary" value="Bevestigen">
            </div>
        </form>
    </div>
</div>