/*body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
*/

body {
    /* Location of the image */

    background: url(/images/bg-geusdiervoeding-w-logo.png), #F7F3EF!important; 
    /* background: #F7F3EF; *
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when 
        the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
        on the container's size */
    background-size: cover;

    font-family: "Montserrat",sans-serif!important;
   
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05)
}

.well blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,0.15)
}

.well-lg {
    padding: 24px;
    border-radius: 6px
}

.well-sm {
    padding: 9px;
    border-radius: 3px
}



#loading_spinner{
    background-color: #FFFFFF;
    background-image: url(/images/loading_spinner.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 40%;
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 999999;
    transform: translate(50%,50%);
    display: none;
}

/* sign-in form */
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

span#user_display_name {
    margin: 0 10px 0;
}


.order-header, .product-header{
    text-align: center;
}

div.delivery-method{
    text-transform: uppercase;
    letter-spacing: .2em;
}

h2.product-name{
    text-transform: uppercase;
    letter-spacing: .15em;
}

h1.order-id, h1#tripnumber, h2.product-name{
    color:#555;
    margin: 0.3em;
    line-height: 0.8;
}

h1#tripnumber{
    margin: 0.3em 0 1em;
}

h3.undertitle{
    color: hsla(0, 0%, 40%, .85);
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1em;
    margin: 5px 0;
}

.quantity-inputs{
    text-align: center;
}

/* #quantity-inputs-container{
    visibility: hidden;
} */

 .nice-number {
    display: inline-flex;
    justify-content: stretch;
}

.nice-number input {
    vertical-align: middle;
    -moz-appearance: textfield;
    width: 1ch;
    box-sizing: content-box;
    margin: 0 5px;
    text-align: center;
    font-size: 2em;
}

.nice-number button, input {
    border:0;
    /* font-size: 2.5em!important; */
    /* padding:1em; */
}

.nice-number button{
    width: 3ch;
    font-size: 2em;
}

.nice-number input::-webkit-inner-spin-button,
.nice-number input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.collapseControls{
    text-align: center;
    padding-top: 1em;
    margin-bottom: -1em;
    color: hsla(0, 0%, 40%, .85);
    text-transform: uppercase;
    letter-spacing: .1em;
}

.card{
    padding: 19px;
}

input#order_submit_button.processing {
    background: url(/images/spinner.gif);
    background-repeat: no-repeat;
    background-size: 45px;
    background-position-x: center;
    background-position-y: center;
    background-color: #9a9da0;
    width: 250pxs;
}

input#order_submit_button {
    width: 250px;
}


/*productPage*/

div#inventories {
    color:#555;
    text-transform: uppercase;
}

.inventory_container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "inv_name inv_name inv_locations"
        "cur_stock stock_onhold inb_stock"
        "csh soh ish";
    padding-bottom: 12px;
}

div.inventory_container:nth-child(even){
    border-top: 2px solid #dcdcdc;
    padding-top: 10px;
}

.inventory_name {
    grid-area: inv_name;
    letter-spacing: .2em;
}
.inventory_location {
    grid-area: inv_locations;
    text-align:right;
}
.current_stock {
    grid-area: cur_stock;
    text-align:center;
    font-size:1.8em;
}
.stock_on_hold {
    grid-area: stock_onhold;
    text-align:center;
    font-size:1.8em;
}
.inbound_stock{
    grid-area: inb_stock;
    text-align:center;
    font-size:1.8em;
}
.current_stock_head{
    grid-area: csh;
    font-size: 0.6em;
    text-align: center;
}
.stock_on_hold_head{
    grid-area: soh;
    font-size: 0.6em;
    text-align: center;
}
.inbound_stock_head{
    grid-area: ish;
    font-size: 0.6em;
    text-align: center;
}

/* List orders page */
#order-properties-card {
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
    border-radius: unset;
}

.input-group-append {
    cursor: pointer;
  }

.order_substate {
    display: inline-flex;
    line-height: 2.5em;
    color: rgb(0, 0, 0);
    background: #e5e5e5;
    border-radius: 40px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin: -.25em 0;
    padding: 0 10%;
    white-space: nowrap;
    max-width: 100%;
}

.afhaal {
    color: rgb(0, 0, 0)!important;
    background: #eea722;
}

.leiden, .hague, .zmeer, .rdam, .rdam-z{
    background: #1473a1;
}

.combine_orderid {
    display: inline-flex;
    color: rgb(255 255 255);
    background: #1473a1;
    font-size: 13px;
    font-weight: unset;
    border-radius: 40px;
    margin: 0;
    padding: 0 0.8em;
    white-space: nowrap;
    /* max-width: 100%;  */
}

.delivered, .collected {
    --bs-bg-opacity: 1;
    background-color: rgb(5, 146, 0)
}

/* div#stopNumCol{
    display: unset;
}

div#stopNumColHead{
    display: unset;
} */

#statusDropBtn, #substateDropBtn, #sortbyDropBtn, #clearAllFilters{
    width: 100%;
}

fieldset.customerData {
    min-width: 0;
    padding: 0px 5px;
    margin: 0px;
    border: 1px solid var(--bs-secondary-color);
    border-radius: 5px;
}

legend.legend {
    float: unset;
    width: unset;
    margin-bottom: unset;
    font-size: calc(0.7rem + .3vw);
    line-height: inherit;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.gj-icon{
    top:.30rem!important;
}